# Log files
*.log

# Hidden folders
.codebuddy/
.venv/
.claude

# Compiled files
*.exe
*.exe~

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

dist

build/bin
node_modules
frontend/dist
frontend/node_modules